# Command Line Editing:
# C-x C-x -> Go to point (same as emacs).

# Cause Ctrl-w to kill the region.
"\C-w":kill-region

# Cause Esc-w to copy the region, but not kill it.
"\ew":copy-region-as-kill

# Type command beginning (e.g., 'cd /') and
# press up arrow to see commands that start with
# that command.  Similar to C-R for effectively
# searching command line history.
"\e[A": history-search-backward
"\e[B": history-search-forward
set show-all-if-ambiguous on
set completion-ignore-case on

# The number of possible completions that determines when the user should be asked
# whether to list possibilies.  A negative value means Readline should never ask.
set completion-query-items 500