[Desktop Entry]
Version=1.0
Name=jump
Exec=xfreerdp /v:JCHRDSH01 /d:intad /size:1500x1360 -grab-keyboard /p:*********
Terminal=true
Icon=utilities-terminal
Type=Application
